<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>Save Currency</title>
	<style>
		.error {color:red}
	</style>
</head>

<body>

	<div class="container">
		
		<h3>Currency List</h3>
		<hr>
		
		<p class="h4 mb-4">Save Currency</p>
		
		<form action="#" th:action="@{/currencies/save}"
						 th:object="${currencies}" method="post" >
						 
			<!-- Add a hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />			 
			 
			<input type="text" th:field="*{currencyName}"
			 			class="form-control mb-4 col-4" placeholder="Currency name">
 			<p th:if="${#fields.hasErrors('currencyName')}" th:errorclass="error" th:errors="*{currencyName}" />
 			
 			<input type="text" th:field="*{currencyCode}"
				 			class="form-control mb-4 col-4" placeholder="Code" th:errorClass="'error'">
			<p th:if="${#fields.hasErrors('currencyCode')}" th:errorclass="error" th:errors="*{currencyCode}" />
						 			
 			<input type="text" th:field="*{unitValue}"
			 			class="form-control mb-4 col-4" placeholder="Per unit of currency">
 			<p th:if="${#fields.hasErrors('unitValue')}" th:errorclass="error" th:errors="*{unitValue}" />
			 			
 			<input type="text" th:field="*{unitPrice}"
			 			class="form-control mb-4 col-4" placeholder="Levs (BGN)">
 			<p th:if="${#fields.hasErrors('unitPrice')}" th:errorclass="error" th:errors="*{unitPrice}" />
			 			
 			<input type="text" th:field="*{unitSellPrice}"
			 			class="form-control mb-4 col-4" placeholder="Reverse rate for 1 BGN">
 			<p th:if="${#fields.hasErrors('unitSellPrice')}" th:errorclass="error" th:errors="*{unitSellPrice}" />
			 			
 			<button type="submit" class="btn btn-info col-2">Save</button>
		 </form>
		 
		 
		 
		 <hr>
		 <a th:href="@{/success}">Back to currencies list</a>
	
	</div>

</body>

</html>