<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		th{vertical-align:middle}
</style>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>Currencies List</title>
</head>

<body>

<div class="container">
	<h3>Currencies List</h3>
	<hr>
	
	<!-- Add 'Add Currency' button -->
	<a th:href="@{/currencies/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		Add Currency
	</a>
	
	<!-- Add 'Add Currency' button -->
	<a th:href="@{/currencies/updateCurrencies}" class="btn btn-primary btn-sm mb-3">
		Update from web
	</a>
	
	<!-- Add Currency table with edit and delete functions -->
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th style="text-align:center">Currency</th>
				<th style="text-align:center">Code</th>
				<th style="text-align:center">Per unit of currency</th>
				<th style="text-align:center">Levs (BGN)</th>
				<th style="text-align:center">Reverse rate for 1 BGN</th>
				<th style="text-align:center">Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCurrency : ${currencies}">
			
				<td th:text="${tempCurrency.currencyName}" />
				<td style="text-align:center" th:text="${tempCurrency.currencyCode}" />
				<td style="text-align:center" th:text="${tempCurrency.unitValue}" /> 
				<td style="text-align:center" th:text="${tempCurrency.unitPrice}" />
				<td style="text-align:center" th:text="${tempCurrency.unitSellPrice}" />
				
				
				<td>
				<!-- Update button -->
					<a th:href="@{/currencies/showFormForUpdate(currencyId=${tempCurrency.id})}"
						class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Delete button -->
					<a th:href="@{/currencies/delete(currencyId=${tempCurrency.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this currency?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<!-- Add 'Logout' button -->
	<a th:href="@{logout}" class="btn btn-primary btn-sm mb-3">
		Logout
	</a>
</div>

</body>

</html>